/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container holding both sidebar and main content */
.container {
  display: flex;
  width: 90vw;
  height: 90vh;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Sidebar styling - menu and settings */
.sidebar {
  background-color: black; /* Dark background */
  color: white;
  width: 25%; /* Reduced width for compact look */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  box-sizing: border-box;
}

.settings{
  display: flex;
  flex-direction: column;
}

.settings a{
  margin: 5px;
}

.menu{
  display: flex;
  flex-direction: column;
  justify-content:start ;
  align-items: center;
  margin-top: 10px;
}

.menu i {
  color: #00bfa5;
  margin-right: 5px;
  font-size: large;

}

.menu button{
  background-color: #2e2e2e; /* Dark background */
  color: white;
  width: 90%; 
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #00bfa5;
  margin-bottom: 4px;
}

.menu button:hover{
  background-color: #353434;
}

 .menu button.clicked {
  background-color: #00c4b4; /* Background color on click */
}

.button.clicked i {
  color: #fff; /* Icon color changes to white on click */
}

/* Main content layout */
.main-content {
    width: 75%; /* Adjusted to accommodate sidebar */
    background-color: #141313;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
}

/* Header adjustments */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: end;
    padding: 10px 0;
}

.subscribe-btn {
    background-color: #2E2D2D;
    color: #00bfa5;
    border: 2px solid #00bfa5;
    padding: 8px 15px; /* Adjusted padding */
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.user-icon{
  font-size: 25px;
  font-weight: 400;
  border-radius: 100%;
  color: white;
  background-color: #00bfa5;
  padding: 10px 14px 10px 14px;
}

/* Chatbox adjustments */
.chat-box {
    flex-grow: 1;
    margin-top: 20px;
    background-color: #141313;
    overflow-y: auto; /* Make the chat scrollable */
    height: 100%;
    border: none;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
}

/* Input box adjustments */
.input-box {
  display: flex;
  align-items: center;
  border-radius: 60px;
  overflow: hidden;
  width: 95%;
}
.input-box input[type="text"] {
  flex: 1;
  border: none;
  outline: none;
  background-color: #2E2D2D;
  padding: 13px;
  color: white;
}

.icon {
  cursor: pointer;
  background-color:#2E2D2D;
  padding: 12px;
  color: #00bfa5;
}





